<div class="container">
    <div class="row text-center mt-4">
      <div class="col">
      </div>
    </div>
    <div class="row text-center mt-5">
      <div class="col">
        <h2>{{titulo}}</h2>
      </div>
    </div>
    <div *ngIf="titulo=='Usuarios'" class="row mt-5">
      <div class="col">
        <button class="btn btn-primary" type="button" (click)="onDataTableEliminados()">Ver Eliminados</button>
      </div>
    </div>
    <div *ngIf="titulo=='Usuarios eliminados'" class="row mt-5">
      <div class="col">
        <button class="btn btn-primary" type="button" (click)="onDataTable()">Volver</button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <table id="dtDocot" class="table" style="width: 100%;">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th style="width: 18rem;">Rol</th>
              <th style="width: 0px;"></th>
              <th style="width: 0px;"></th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let user of datatable" [ngSwitch]="user.userEstatus">
              <td>{{user.userCodigo}}</td>
              <td>{{user.userNombre}}</td>
              <td *ngIf="user.rlCodigo==1">Doctor</td>
              <td *ngIf="user.rlCodigo==2">Paciente</td>
              <td *ngSwitchCase="'A'"><button class="btn btn-warning" type="button" (click)="onSetData(user)">Detalles</button></td>
              <td *ngSwitchCase="'A'"><button class="btn btn-danger" type="button" (click)="onDelete(user)">Eliminar</button></td>
              <td *ngSwitchCase="'D'"><button class="btn btn-success" type="button" (click)="onRestaurar(user)">Restaurar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
