<h3>Detalles del usuario {{usuario.UserNombre}}</h3>
<div>
  <img class="col-md-5 float-md-end mb-2 ms-md-2" style="width: 50%; padding-right: 100px; padding-top: 50px;" src="../../../assets/doctor-png.png">
  <h5 class="col-md-6 float-md-end mb-2 ms-md-2" style="text-align: center;width: 50%; padding-right: 100px;padding-top: 0px;" *ngIf="usuario.RlCodigo==1;else PacienteLabel">Doctor</h5>
</div>
<div class="col-md-5">
    <label for="txtNombre" class="from-label">Usuario</label>
    <input type="text" name="id" id="txtNombre" class="form-control" [(ngModel)]="usuario.UserNombre">
  </div>
  <div class="col-md-5">
    <label for="txtFecha" class="from-label">Fecha de creación</label>
    <input type="text" name="id" id="txtFecha" class="form-control" disabled="false" [(ngModel)]="usuario.UserFechaCreacion">
  </div>

  <button class="btn btn-success" type="button"  (click)="onUpdate(usuario)">Actualizar</button>
  <button style="color:white;" class="btn btn-warning" type="button" (click)="onDelete(usuario)">Eliminar</button>
  <button class="btn btn-danger" type="button" (click)="cerrarDialog()">Cancelar</button>
<ng-template #PacienteLabel><h5 class="col-md-6 float-md-end mb-2 ms-md-2" style="text-align: center;width: 50%; padding-right: 100px;padding-top: 0px;">Paciente</h5></ng-template>