<h3>Detalles del usuario {{usuario.UserNombre}}</h3>
<img class="perfil" src="../../../assets/doctor-png.png">
<div>
    <label for="txtNombre" class="from-label">Usuario</label>
    <input type="text" name="id" id="txtNombre" class="form-control" [(ngModel)]="usuario.UserNombre">
  </div>
  <div style="width:17.5rem;">
    <label for="txtFecha" class="from-label">Fecha de creación</label>
    <input style="margin:0%;" type="text" name="id" id="txtFecha" class="form-control" disabled="false" [(ngModel)]="usuario.UserFechaCreacion">
  </div>
  <button class="btn btn-success" type="button"  (click)="onUpdate(usuario)">Actualizar</button>
  <button style="color:white;" class="btn btn-warning" type="button" (click)="onDelete(usuario)">Eliminar</button>
  <button class="btn btn-danger" type="button" (click)="cerrarDialog()">Cancelar</button>
<ng-template #PacienteLabel><h5 class="tipo">Paciente</h5></ng-template>
<h5 class="tipo" *ngIf="usuario.RlCodigo==1;else PacienteLabel">Doctor</h5>
