<div class="navegador">
    <div>
       <nav>
         <a class="logo" href="">
            <img style="height: 1.8rem;"src="../../../assets/logo.svg" alt="logo">
         </a>
         <ul class="menu-doctor">
            <li><a href="">Home</a></li>
            <li>
                <a href="/Doctores">Doctores</a>
                <ul>
                    <li><a href="/Doctores">Lista</a></li>
                    <li><a href="/Agregar-doctor">Agregar</a></li>
                </ul>
            </li>
            <li>
                <a href="/Pacientes">Pacientes</a>
            </li>
            <li>
                <a href="/Usuarios">Usuarios</a>
            </li>
         </ul>
       </nav>
       <div class="info">
       <div class="account">admin</div>
        <div>
            <a class="logo" href="">
                <img style="height: 2rem; margin-right: 1rem;" src="../../../assets/user.svg" alt="logo">
            </a>
        </div>
       </div>
    </div>
</div>