<h3>Detalles de la Cita</h3>
<img class="perfil" src="../../../assets/citas-png.png">
<div class="col-md-3">
  <label for="txtId" hidden="true" class="from-label">ID</label>
  <input type="text" hidden="true" name="id" id="txtId" class="form-control" [(ngModel)]="citas.CtCodigo" disabled="true">
</div>
<div class="col-md-5">
    <label for="Paciente" class="from-label">Paciente</label>
    <select name="id" [(ngModel)]="citas.PacCodigo" id="Paciente" class="form-control">
      <option *ngFor="let pac of listaPacientes" [value]="pac.pacCodigo">{{pac.pacNombre}} {{pac.pacApellido}}</option>
    </select>
  </div>
  <div class="col-md-5">
    <label for="Doctor" class="from-label">Doctor</label>
    <select name="id" [(ngModel)]="citas.DocCodigo" id="Doctores" class="form-control">
      <option *ngFor="let doc of listaDoctores" [value]="doc.docCodigo">{{doc.docNombre}} {{doc.docApellido}}</option>
    </select>
  </div>
  <div class="col-md-5">
    <label for="txtDescripcion" class="from-label">Descripcion</label>
    <input type="text" name="id" id="txtDescripcion" class="form-control" [(ngModel)]="citas.CtDescripcion">
  </div>
    <div class="col-md-5">
    <label for="dateEntrada" class="from-label">Entrada</label>
    <input type="datetime-local" name="id" id="txtEntrada" class="form-control" [(ngModel)]="citas.CtHorarioInicial">
  </div>
  <div class="col-md-5">
    <label for="dateSalida" class="from-label">Final</label>
    <input type="datetime-local" name="id" id="dateSalida" class="form-control" [(ngModel)]="citas.CtHorarioFinal">
  </div>
  <button class="btn btn-success" type="button"  (click)="onUpdateDoctor(citas)">Actualizar</button>
  <button style="color:white;" class="btn btn-warning" type="button" (click)="onDeleteDoctor(citas)">Eliminar</button>
  <button class="btn btn-danger" type="button" (click)="cerrarDialog()">Cancelar</button>

