<div class="navegador">
  <div>
     <nav>
       <a class="logo" routerLink="">
          <img style="height: 1.8rem;"src="../../../assets/logo.svg" alt="logo">
       </a>
       <ul class="menu-doctor">
          <li><a class="botonesMenu" routerLink="">Home</a></li>
          <li>
              <a class="botonesMenu" routerLink="/Vista-Doctores">Doctores</a>
              <ul>
                  <li><a routerLink="/Vista-Doctores">Lista</a></li>
              </ul>
          </li>
          <li>
              <a class="botonesMenu" routerLink="/Cita-pacientes">Citas</a>
              <ul>
                  <li><a routerLink="/Cita-pacientes">Lista</a></li>
                  <li><a routerLink="/Agregar-cita">Agregar</a></li>
              </ul>
          </li>
       </ul>
     </nav>
     <div class="info">
     <div class="account">Paciente</div>
      <div>
          <a class="logo" routerLink="/Perfil">
              <img style="height: 2rem; margin-right: 1rem;" src="../../../assets/user.svg" alt="logo">
          </a>
      </div>
     </div>
  </div>
</div>